$maincolor: #64cf76;

.index-background {
  background: image-url("bgimage.jpg") repeat;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
.index-box {
  // height: 0em;
}
.index-tran-box {
  background: image-url("index_square.png") no-repeat;
  text-align: center;
  height: 45em;
  width: 36em;
  margin: 0 auto;
  margin-top: 10em;
}

.index-header {
  padding-top: 1.2em;
  color: brown;
  font-size: 3.6em;
}
.index-header-title, .index-header-title:hover {
  color: brown;
  text-decoration: none;
}

.index-slogan {
  margin-top: 0.2em;
  color: brown;
  font-size: 1.4em;
}

.login-form {
  margin-top: 2em;
  label {
    color: brown;
    font-size: 1.3em;
  }
}

.login-input-field {
  text-align: center;
  width: 70%;
  border-style: solid;
  border-color: $maincolor;
}

.login-btn {
  width: 70%;
  background-color: $maincolor;
  color: white;
  letter-spacing: 0.3em;
}
.devise-shared-links {
  margin-top: 1em;
}

.index-orange-button, .index-red-button {
  border: 1px solid orange;
  background-color: $maincolor;
  width: 70%;
  height: 2.5em;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
  letter-spacing: 0.2em;
}

.index-orange-button:hover {
  background-color: red;
}

.index-red-button {
  background-color: #ee0b14;
}

.index-button {
  margin: 2em 0;
}

.index-last-button {
  margin-top: 2em;
}


@media only screen and (max-width: 500px) {
    html {
        max-height: 1em;
    }
}
