.index-background {
  background: image-url("bgimage.jpg") repeat;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
.index-box {
  // height: 0em;
}
.index-tran-box {
  background: image-url("index_square.png") no-repeat;
  text-align: center;
  height: 45em;
  width: 36em;
  margin: 0 auto;
  margin-top: 10em;
}

.index-header {
  padding-top: 1.2em;
  color: brown;
  font-size: 3.6em;
}
.index-slogan {
  margin-top: 0.2em;
  color: brown;
  font-size: 1.4em;
}

.index-orange-button, .index-red-button {
  border: 1px solid orange;
  background-color: #ff8a00;
  width: 70%;
  height: 2.5em;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
  letter-spacing: 0.2em;
}

.index-orange-button:hover {
  background-color: red;
}

.index-red-button {
  background-color: #ee0b14;
}

.index-button {
  margin: 2em 0;
}

.index-last-button {
  margin-top: 2em;
}


@media only screen and (max-width: 500px) {
    html {
        max-height: 1em;
    }
}
